@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  background-color: #f5f5f5;
  --focus-indicator-spacing: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  line-height: 1.2;
}
header {
  display: block;
  unicode-bidi: isolate;
}
footer {
  display: block;
  unicode-bidi: isolate;
}
.footerbox {
  color: rgba(0, 0, 0, 0.65);
  display: block;
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0;
  text-decoration: none;
}
.footerpayment {
  background-color: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 1.875rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  padding: 0.25rem;
  width: 3.75rem;
}
ul {
  display: block;
  list-style: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
li {
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
form {
  margin-top: 0em;
  unicode-bidi: isolate;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.important-width {
  width: 120px !important;
}
.pagefooter {
  box-sizing: border-box;
  padding: 0.3125rem;
  width: 15.625rem;
}
.footertitle {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
}
input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  padding-block: 1px;
  padding-inline: 2px;
}
button {
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  padding-block: 1px;
  padding-inline: 6px;
}
.ease-sharp-motion-curve {
  transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

.shadow-hover {
  --tw-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-shadow);
}

.shadow-active {
  --tw-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-shadow);
}

.custom-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.element:focus {
  outline-offset: var(--focus-indicator-spacing);
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
